body {
    margin: 0;
}

.img {
    width: 200px;
    height: 200px; 
    
}



.header {
    background-color: #ff4757;
    color: white;
    text-align: center;
    padding: 30px;
}

.content {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts {
    background-color: #5352ed;
    color: white;
    width: 700px;
    padding: 5px 10px;
    height: 370px;
    margin-right: 100px;
}

.post {
    background-color: #4242ca;
    height: 100px;
}

.menu { 
    background-color: #1dd1a1;
    color: white;
    padding: 10px 30px 15px 10px;
    height: 355px;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    display: inline-block; 
    margin: 10px;
    width: 100%;
    border: 2px solid red;
}
